SQLAlchemy==1.4.46
SQLAlchemy_Utils==0.39.0
contextvars==2.4
fastapi==0.89.1
pydantic==1.10.4
pytest-mock==3.10.0
pytest==7.2.1
requests==2.28.2
uvicorn==0.20.0
python-dotenv==0.21.1
psycopg2-binary==2.9.5